table tr td {
  border: 1px solid black;
  width: 2rem;
  height: 2rem;
}

.icon {
  width: 1rem;
  height: 1rem;
  margin: auto;
}

.icon.red-icon {
  background-color: red;
}

.icon.green-icon {
  background-color: green;
}
